<h2 mat-dialog-title>Update Volume</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="updateForm">
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter your volume name"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Mount</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter the volume mount"
        formControlName="mount"
      />
    </mat-form-field>
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Label</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter the volume label"
        formControlName="label"
      />
    </mat-form-field>
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Driver</mat-label>
      <mat-select formControlName="driver">
        <mat-option *ngFor="let data of selectData" [value]="data.value">
          {{ data.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="submitForm()" cdkFocusInitial>Update</button>
</mat-dialog-actions>
