<!-- Form Design Type -->
<body>
<div>
  <mat-card class="w-100 center-card">
    <mat-card-content>
      <h4 class="mb-32">Login</h4>
      <form [formGroup]="loginForm" (submit)="onSendLoginForm()">
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>User</mat-label>
          <input
            type="text"
            placeholder=""
            formControlName="username"
            matInput
          />
        </mat-form-field>

        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            placeholder=""
            formControlName="password"
            matInput
          />
        </mat-form-field>
        <mat-card-content>
          <button mat-raised-button color="primary" type="submit">Accept</button>
        </mat-card-content>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</body>