<!-- Daily Activity -->
<mat-card class="w-100">
  <mat-card-content>
    <h3 class="mb-56 tittle">Images</h3>
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        class="btn-add"
        (click)="setStep(1)"
        type="submit"
      >
        Add
      </button>
    </mat-card-content>

    <mat-tab-group
    (click)="setStep(step)"
      (selectedTabChange)="selectedTabValue($event)"
      [selectedIndex]="step"
      mat-stretch-tabs="false"
      mat-align-tabs="center"
    >
    <mat-tab label="Existing images" hideToggle="true">
      <mat-card-content>
        <mat-form-field class="w-100 fs-16" appearance="outline">
          <mat-label>Buscador</mat-label>
          <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder=""
          #input
        />
        </mat-form-field>
        <div class="table-responsive">
          <table
            mat-table
            [dataSource]="dataSourceTable"
            class="w-100"
            matSort
          >
              <!-- Name Column -->
              <ng-image matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell class="fw-medium" *matCellDef="let element">
                  {{ element.name }}
                </td>
              </ng-image>
      
              <!-- Repository Column -->
              <ng-image matColumnDef="repository">
                <th mat-header-cell *matHeaderCellDef>Repository</th>
                <td mat-cell class="fw-medium" *matCellDef="let element">
                  <p class="mb-0 fw-medium op-5">{{ element.repository }}</p>
                </td>
              </ng-image>
      
              <!-- Tag Column -->
              <ng-image matColumnDef="tag">
                <th mat-header-cell *matHeaderCellDef>Tag</th>
                <td mat-cell class="fw-medium" *matCellDef="let element">
                  <p class="mb-0 fw-medium op-5">{{ element.tag }}</p>
                </td>
              </ng-image>
      
              <!-- Size Column -->
              <ng-image matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef>Size</th>
                <td mat-cell class="fw-medium" *matCellDef="let element">
                  <p class="mb-0 fw-medium op-5">{{ element.size }}</p>
                </td>
              </ng-image>
      
              <ng-image matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element" class="text-nowrap">
                  <button class="icon-button blue" (click)="updateData(element)">
                    <mat-icon>update</mat-icon>
                  </button>
                  <button class="icon-button red" (click)="deleteData(element)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-image>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page of users"
            ></mat-paginator>
          </div>
        </mat-card-content>
      </mat-tab>

      <mat-tab label="New image">
        <mat-card-content>
          <form [formGroup]="createForm">
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput type="text" placeholder="Enter your Name" formControlName="name"/>
            </mat-form-field>
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>Repository</mat-label>
              <mat-select formControlName="repository">
                <mat-option *ngFor="let test of tests" [value]="test.value">
                  {{ test.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>Tag</mat-label>
              <mat-select formControlName="tag">
                <mat-option *ngFor="let test of tests" [value]="test.value">
                  {{ test.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100 fs-16" appearance="outline">
              <mat-label>Size</mat-label>
              <input matInput type="text" placeholder="Enter the Image Size" formControlName="size"/>
            </mat-form-field><button
            mat-raised-button
            color="primary"
            class="btn-form"
            type="submit"
            (click)="addData()"
          >
            Add
          </button>
          
        </form>
        <button
            mat-raised-button
            color="accent"
            class="btn-form"
            (click)="setStep(0)"
            type="submit"
          >
            Cancel
          </button>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card-content>
</mat-card>
