<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="updateForm">
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Image</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter the image name"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Repository</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter the image repository"
        formControlName="repository"
      />
    </mat-form-field>
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Tag</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter the image tag"
        formControlName="tag"
      />
    </mat-form-field>
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Size</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter the image size"
        formControlName="size"
      />
    </mat-form-field>
    <!-- <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Date</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter the image date"
        formControlName="date"
      />
    </mat-form-field> -->
    <!-- <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Gateway</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter the gateway"
        formControlName="gateway"
      />
    </mat-form-field>
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Driver</mat-label>
      <input
        matInput
        type="text"
        placeholder="Enter driver"
        formControlName="driver"
      />
    </mat-form-field> -->
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="submitForm()" cdkFocusInitial>Update</button>
</mat-dialog-actions>

<!-- Copyright 2023 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
