.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.icon-image {
  width: 70px;
  border-radius:150px;
  height: auto;
}

.user-image {
  width: 30px;
  height: auto;
}